<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/styles/style.css}" href="../static/styles/style.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/add_recipe_style.css}" href="../static/styles/add_recipe_style.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/popup.css}" href="../static/styles/popup.css" type="text/css">
		<title>Новый рецепт</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<style type="text/css">
			.navbar-default {
				background-color: rgb(128, 128, 0, 0.7);
				border-color: black;
			}
			.navbar-default .navbar-brand {
				color: black;
			}
			.navbar-default .navbar-nav > li > a {
				color: black;
			}
			.navbar-default .navbar-toggle {
				border-color: black;
			}
			.navbar-default .navbar-toggle .icon-bar {
				background-color: black;
			}
			
			.cookBookContainer{
				background-color: rgba(134, 134, 11, 0.7);
				margin: 10px auto 0 auto;
				text-align: left;
				border-radius: 0 0 30px 30px;
				color: b;
			}
			
			.card{
				background-color: rgba(134, 134, 11, 0.5);
				width: 25%;
				height: 400px;
			}

			.imageContainer{
				height: 75%;
			}

		</style>

		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
		<script th:src="@{/js/asyncRequest.js}" src="../static/js/asyncRequest.js"></script>
		<script th:src="@{/js/addRecipe.js}" src="../static/js/addRecipe.js" ></script>
		<script th:src="@{/js/ingredient.js}" src="../static/js/ingredient.js"></script>				
		<script th:src="@{/js/popup.js}" src="../static/js/popup.js"></script>	
	</head>

	<body>
		<!-- Navigation -->
		<div class = "container-fluid">
			<div class="row">
				<div class="col">
					<nav style="background-color: rgb(128, 128, 0, 0.7)" class="navbar navbar-expand-lg navbar-default navbar-fixed-top" > 
						<a class="navbar-brand" href="#">CookBook</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item ">
									<a class="nav-link" href="/user/cookbook">В книгу рецептов</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/editpersonal">Редактировать информацию о себе</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/personal">На свою страницу</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/ingredients">Ингридиенты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/reviewbook">Книга отзывов</a>
								</li>
							</ul>
						</div>
						<div style="float: left">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/logout">Выход</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>	
		</div>	

		<!--Main part-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<form id="saverecipeform" method="post" action="saverecipe">					
						<h4>Основная информация</h4><br>
						<b>Название:</b><br>
						<input type = "text" name = "name" placeholder = "Название рецепта"><br>
						<b>Категория:</b><br>
						<select name = "type">
							<option>Горячие блюда</option>
							<option>Гарниры</option>
							<option>Закуски</option>
							<option>Салаты</option>
							<option>Десерты</option>
							<option>Напитки</option>
							<option>Fast food</option>
						</select>
						<b>Слоган:</b><br>
						<input type = "text" name = "tagline" placeholder = "Слоган"><br>	
						<b>Ссылка на youtube:</b><br>
						<input form="saverecipeform" type = "text" name="youtubeLink" placeholder = "https://www.youtube.com/..."></input><br>				
					</form>
				</div>
				<div class="col-md-9">
					<table id="ingrTable">
						<tr>
							<th><b>Ингридиенты</b></th>
							<th><b>Калорийность / 100 гр</b></th>							
							<th><b>Количество (гр/мл)</b></th>
							<th><b>Калорийность</b></th>
							<th><b>Удаление</b></th>
						</tr>
						<tr>
							<th colspan="5"><a href="javascript:PopUpShow('add_ingr_popup')">Добавить</a></th>
						<tr>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<b>Алгоритм: </b><br>
					<textarea form="saverecipeform" name="text" style="width: 100%; " rows=10>Итак, </textarea>					
				</div>
			</div>
			
			<div class="row">
				<input type="button" value="Добавить фото" class = "dws-btn" onclick="PopUpShow('add_photo_popup');">	
				<!-- <a> href="javascript:PopUpShow('add_photo_popup')">Добавить фото</a> -->
			</div>
			
			<div class="row" id="photoList"> 

			</div>

			<div class="row">
				<button form="saverecipeform" class = "dws-btn" type="submit"> Сохранить </button>
			</div>
		</div>	
		
		
	<!-- Pop up window for adding ingredient -->
		<div class="popup" id="add_ingr_popup">
			<div class="popup-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">										
							<form id="addIngr" method="post" action="addIngrToList"> 
								<b>Выбрать ингридиент</b><br>
								<b>Категория ингридиента:</b><br>
								<select id="ingrType" name="type">
									<option value="none" hidden="">Выберите тип</option>
									<option th:each="type : ${ingrTypes}"> <b th:text=${type}> - </b> </option>
								</select>
								<input type="button" onclick="getIngrListFromServer()" value="Выбрать"/><br>
								<b>Ингридиенты:</b><br>
								<div id="ingrList">
									<select id="ingrName">
										<option value="none" hidden="">Выберите игредиент</option>
										<option th:each="ingr : ${ingredients}"> <p th:text=${ingr.name}> - </p> </option>
									</select>
								</div><br>
								<a href="javascript:addToTableExistingIngr()">Добавить</a>
								/
								<a href="javascript:PopUpHide('add_ingr_popup')">Отмена</a>	
							</form>				
						</div>
						<div class="col-md-9">
							<form>
								<b>Добавить новый ингридиент</b><br>
								<b>Имя:</b><br>
								<input type= "text" id="newIngrName" name= "name" placeholder= "Имя"><br>
								<b>Тип:</b><br>
								<input type= "text" id="newIngrType" name= "type" placeholder= "Тип"><br>	
								<b>Белки:</b><br>
								<input type= "text" id="newIngrProt" name= "prot" placeholder= "Белки / 100гр"><br>
								<b>Жиры:</b><br>
								<input type= "text" id="newIngrFat" name= "fat" placeholder= "Жиры / 100 гр"><br>
								<b>Углеводы:</b><br>
								<input type= "text" id="newIngrCarbo" name= "carbo" placeholder= "Углеводы / 100 гр"><br>
								<b>Описание:<b></br>
								<textarea id= "newIngrDesription" name= "descr" cols=20 rows=7> - </textarea><br>
								<a href="javascript:saveNewIngredient()">Сохранить новый и добавить его к рецепту</a>
								/
								<a href="javascript:PopUpHide('add_ingr_popup')">Отмена</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- For photo loading -->
		<div class="popup" id="add_photo_popup">
			<div class="popup-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<form action="" method="get" enctype="multipart/form-data"> <!--  onsubmit="returnsendPhoto() -->
								<input type="file" id="photoLoader" value="Загрузить фото" onchange="getCurrentLyUploadedPhoto(event)">
								<input type="button" class= "dws-btn" value="Добавить фото" onclick="addPhotoToPhotoList(event);"><!-- a href="javascript:sendPhoto()" --> 
								<a href="javascript:PopUpHide('add_photo_popup')"> Отмена </a>
							</form>
						</div>
						<div class="col-md-9">
							<img th:src="@{/img/food_template.jpg}" src="../static/img/food_template.jpg" id="uploadedPhoto" width="100%">
						</div>
					</div>
				</div>	
			</div>
		</div>

		<script>
			let currentlyUploadedPhoto;
			var count = 0;
			function getCurrentLyUploadedPhoto(event){
				let photoFileLoader = document.getElementById('photoLoader');
				currentlyUploadedPhoto = photoFileLoader.files[0];
				let output  = document.getElementById('uploadedPhoto');
    			output.src = URL.createObjectURL(currentlyUploadedPhoto); // event.target.files[0]
			}

			function addPhotoToPhotoList(event){
				event.stopPropagation(); // остановка всех текущих JS событий
				event.preventDefault();  // остановка дефолтного события для текущего элемента
				let photoData = new FormData();
				photoData.append('photo', currentlyUploadedPhoto);
				$.ajax({type: "POST", url: "/user/addRecipePhoto", cache: false, dataType: 'json', contentType: false, processData : false, data: photoData,
					success: function(respond, status, jqXHR){
						if( typeof respond.error === 'undefined' ){
							showUploadedPhotoOnMainPage(respond);							
						}
						else{
							alert('Error: ' + respond.data);
						}
					}, 
					error: function(respond, status, jqXHR){
						alert('Не удалось загрузить фото на сервер: ' + status);
					},
					complete: function(){
						//showUploadedPhotoOnMainPage('respond');
						PopUpHide('add_photo_popup');
					}
				});
			}

			function showUploadedPhotoOnMainPage(code){
				var element = document.getElementById('photoList');
				var newPhotoCard = document.createElement('div');
				newPhotoCard.id = count;
				newPhotoCard.className = "card";
				element.append(newPhotoCard);	
				// Image
				var image = document.createElement('img');
				var photoPath = document.getElementById('uploadedPhoto').src;
				image.src = photoPath;
				image.className = "imageContainer";
				newPhotoCard.append(image);
				// Hidden input with hashcode
				var codeInput = document.createElement('input');
				codeInput.type = "hidden";
				codeInput.id="hidden_" + count;
				codeInput.className = "hiddenInput";
				codeInput.value = code;
				newPhotoCard.append(codeInput);
				// Delete link
				var deleteBtn = document.createElement('input');
				deleteBtn.type="button";
				deleteBtn.value = "Удалить";
				deleteBtn.className = "btn btn-primary";
				deleteBtn.setAttribute('onclick', 'deletePhotoCard()');
				deleteBtn.id = count;
				newPhotoCard.append(deleteBtn);
				count++;
			}

			function deletePhotoCard(){
				let ch = event.target.parentNode;
				let index = ch.id;
				let currentHiddenInput = document.getElementById("hidden_" + index);
				let code = currentHiddenInput.value;

				let photoData = new FormData();
				photoData.append('code', code);
				
				$.ajax({type: "POST", url: "/user/deleteRecipePhoto", cache: false, dataType: 'json', contentType: false, processData : false, data: photoData,
					success: function(respond, status, jqXHR) {
						if (typeof respond.error === 'undefined') {	
							let parent = document.getElementById('photoList');
							parent.removeChild(ch);	
							alert('Фотография успешно удалена');						
						}
						else {
							alert('Error: ' + respond.data);
						}
					}, 
					error: function(respond, status, jqXHR) {
						alert('Ошибка при удалении фотографии: ' + status);
					}
				});
			}
		</script>
	</body>
</html>
