<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<meta charset="utf-8">
		<title>Рецепт</title>
		<link rel="stylesheet" th:href="@{/styles/style.css}"  href="../static/styles/style.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/table.css}"  href="../static/styles/table.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/popup.css}" href="../static/styles/popup.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
        <link rel="stylesheet" th:href="@{/styles/bootstrap_elements.css}"  href="../static/styles/bootstrap_elements.css" type="text/css">
        <style>
        </style>
	</head>

	<body>
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
                    <h2>Функции: </h2>
                    <input type="button" value="Пользователи" class="btn btn-secondary"><br>
                    <input type="button" value="Рецепты" class="btn btn-secondary"><br>
                    <input type="button" value="Ингредиенты" class="btn btn-secondary"><br>
                    <input type="button" value="Сообщения" class="btn btn-secondary"><br>
                </div>
                <div class="col-md-10">
                    <h2>Пользователи: </h2>
                    <input type="button" id="newUserCreate" value="Новый пользователь">
                    <table id="ingrTable">
                        <tr>
                            <th class="idcol">id</th>
                            <th>Логин</th>
                            <th>Пароль</th> 
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Город</th>
                            <th>Темперамент</th>
                            <th>email</th>
                            <th>Телефон</th>
                            <th>Аватар(путь)</th>
                            <th class="idcol">online</th>
                            <th class="btncol">Редактировать</th>
                            <th class="btncol">В бан</th>
                            <th class="btncol">Удалить</th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td class="idcol"><span th:text="${user.id}"></td>
                            <td><span th:text="${user.userLoginName}"></td>
                            <td><span th:text="${user.password}"></td>
                            <td><span th:text="${user.name}"></td>
                            <td><span th:text="${user.surname}"></td> 
                            <td><span th:text="${user.city}"></td>
                            <td><span th:text="${user.temperament}"></td>
                            <td><span th:text="${user.email}"></td>
                            <td><span th:text="${user.phone}"></td>
                            <td><span th:text="${user.avatarPath}"></td>
                            <td class="idcol"><span th:text="${user.enabled}"></td>
                            <td class="btncol"><input type="button" id="userSave+${user.id}" value="Сохранить"></td>
                            <td class="btncol"><input type="button" id="userBan+${user.id}" value="В Бан"></td>
                            <td class="btncol"><input type="button" id="userDelete+${user.id}" value="Удалить"></td>
                        </tr>	
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>