<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">		
		<link rel="stylesheet" th:href="@{/styles/style.css}"  href="/../static/styles/style.css" type="text/css">
		<title>Книга рецептов</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/styles/bootstrap_elements.css}"  href="../static/styles/bootstrap_elements.css" type="text/css">
	</head>
	
	<body>		
		<nav style="background-color: rgb(128, 128, 0, 0.7)" class="navbar navbar-expand-lg navbar-default navbar-fixed-top" > 
			<a class="navbar-brand" href="#">CookBook</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/user/show">Моя страница</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/cookbook/showCookbook">Книга рецептов</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cookbook/showIngredients">Ингредиенты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cookbook/showReviewbook">Обратная связь</a>
					</li>
				</ul>
			</div>
			<div style="float: left">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/logout">Выход</a>
					</li>
				</ul>
			</div>
		</nav>		
		<div class = "container">
			<form method="post" enctype="multipart/form-data" action="editUser">
				<input type="file" name="avatar">
				<b class = "label"> Имя:  </b> <br>
				<input type="text" name="name" th:value="${user.name}"> <br>
				<b class = "label"> Фамилия: </b> <br>
				<input type="text" name="surname" th:value="${user.surname}"> <br>
				<b class = "label"> Я живу в: </b> <br>
				<input type="text" name="city" th:value="${user.city}"> <br>
				<b class = "label"> Темперамент: </b> <br>
				<input type="text" name="temperament" th:value="${user.temperament}"> <br>
				<b class = "label"> Телефон: </b> <br>
				<input type="text" name="phone" th:value="${user.phone}"><br>
				<input type="submit" value="Сохранить">
			</form>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	</body>
</html>
