<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<meta charset="utf-8">
		<title>Рецепт</title>
		<link rel="stylesheet" th:href="@{/styles/style.css}"  href="../static/styles/style.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/table.css}"  href="../static/styles/table.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/popup.css}" href="../static/styles/popup.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
		<link rel="stylesheet" th:href="@{/styles/bootstrap_elements.css}"  href="../static/styles/bootstrap_elements.css" type="text/css">
	</head>

	<body>
		<div class = "container-fluid">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top" > 
						<a class="navbar-brand" href="#">CookBook</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/user/show">Моя страница</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/cookbook/showCookbook">Книга рецептов</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/cookbook/showIngredients">Ингредиенты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/cookbook/showReviewbook">Обратная связь</a>
								</li>
							</ul>
						</div>
						<div style="float: left">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/logout">Выход</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	
		<div class="container-md">
			<div class="row">
				<div class="col-md-3">					
					<h4>Основная информация</h4><br>
					<div th:if="${editable}"><a href="javascript:startEditMainInfo()">Редактировать</a></div>
					<input type="hidden" id="recipeId" th:value="${recipe.id}">
					<b class="label"> Название:</b> <b> <span id="name" th:text="${recipe.name}"> - </span> </b><br>
					<b class="label"> Категория:</b> <b><span id="type" th:text="${recipe.type}"> - </span></b><br>
					<b class="label"> Слоган:</b> <b><span id="tagline" th:text="${recipe.tagline}"> - </span></b><br>	
					<b class="label"> Ссылка на youtube:</b> <a id="youtubeLink" th:href="${recipe.youtubeLink}" name="Ссылка"> - </a><br>					
				</div>
				<div class="col-md-9">
					<h4>Ингредиенты</h4><br>
					<table id="ingrTable">
						<tr>
							<th>Ингридиент</th>
							<th>Количество (гр/мл)</th>
							<th>Калорийность (гр/мл)</th>
							<th></th>
						</tr>		
						<tr th:each="ingredientVolume : ${ingredientsVolumes}">
							<td>
								<span th:text="${ingredientVolume.getName()}"></span>
								<input type="hidden" th:id="${ingredientVolume.id}">
							</td>
							<td>
								<b th:id="${ingredientVolume.id}+Volume" th:text="${ingredientVolume.volume}" th:attr="onclick=|showVolumeTextField('${ingredientVolume.id}')|"></b>
								<input type="text" hidden="true" th:id="${ingredientVolume.id}+VolumeTextField" th:attr="onchange=|changeIngredientVolume('${recipe.id}', '${ingredientVolume.id}')|">
							</td>
							<td>
								<input type="hidden" th:id="${ingredientVolume.id}+CalorieFactor" th:value="${ingredientVolume.getIngredient().calorie}">
								<b th:id="${ingredientVolume.id}+Calorie" th:text="${ingredientVolume.resultCalorie}"></b>
							</td>
							<td><input type="button" th:if="${editable}" th:id="${ingredientVolume.id}+DeleteBtn" th:attr="onclick=|deleteIngredient('${recipe.id}', '${ingredientVolume.id}')|" value="Удалить"></td>
						</tr>
						<tr th:if="${editable}" colspan="4"><a href="javascript:showAddIngredientWindow()">Добавить</a></tr>	
					</table>
					<b class="label">Итоговая калорийность: </b> <b th:text="${totalRecipeCalorie}"> - </b><br>	

					<h4> Процедура приготовления:</h4><br>
					<b><span id="text" th:text="${recipe.text}"> - </span></b>
				</div>	
			</div>

			<!-- Photo cards -->
			
			<div class="row" id="photoList">				
				<div class="card" th:each="photoPath : ${photoPaths}" th:id="photoCard_ + ${photoPath}">
					<div class="card-body">
						<img class="d-block w-100" th:src="${photoPath}" alt="no photo" th:attr="onclick=|showCarouselWindow('${photoPath}')|">
						<input type="button" class="btn btn-primary" value="Удалить" th:attr="onclick=|deletePhoto('${photoPath}')|">
					</div>
				</div>
			</div>
			<div th:if="${editable}" class="row">
				<input type="button" value="Добавить фото" class = "dws-btn" onclick="showPhotoUploadWindow();">
			</div>			
		</div>

		<!-- Pop up window with photo carousel -->
		<div class="popup" id="carousel_recipe_photos">			
			<div class="container-fluid">			
				<div class="row">
					<div class="col-md-1" onclick="hideCarouselWindow();"></div>	
					<div class="col-md-10">				
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner"> 
								<div class="carousel-item" th:each="photo : ${recipePhotos}" th:id="${photo.id} + Slide">
									<img class="d-block w-100" th:src="@{/img/} + ${recipe.photoFolder} + @{/} + ${photo.photoPath}" th:alt="${photo.photoPath}">
								</div>						
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>							
						</div>	
					</div>
					<div class="col-md-1" onclick="hideCarouselWindow();"></div>													
				</div>
			</div>
		</div>

		<!-- Pop up window for editing main info -->
		<div class="popup" id="edit_mainInfo_popup">			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">	
					</div>
					<div class="col-md-4">
						<div class="popup-content">
							<b>Название: </b><br><input type="text" id="editName"><br>
							<b>Категория:</b><br>
							<select id="editType" name = "type">
								<option>Горячие блюда</option>
								<option>Гарниры</option>
								<option>Закуски</option>
								<option>Салаты</option>
								<option>Десерты</option>
								<option>Напитки</option>
								<option>Fast food</option>
							</select><br>
							<b>Слоган: </b><br><input type="text" id="editTagline"><br>
							<b>Ссылка на youtube: </b><br><input type="text" id="editYoutubeLink"><br>
							<b>Процедура приготовления: </b><br>
							<textarea id="editText" name="editText" style="width: 100%;" rows=10> </textarea>
							<a href="javascript:editMainInfo()">Cохранить изменения</a>
							/
							<a href="javascript:hideEditRecipeMainInfoWindow()">Отмена</a>
						</div>
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
		</div>

		<!-- Pop up window for adding ingredient -->
		<div class="popup" id="add_ingr_popup">
			<div class="popup-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">										
							<form id="addIngr" method="post" action="addIngrToList"> 
								<b>Выбрать ингридиент</b><br>
								<b>Категория ингридиента:</b><br>
								<select id="ingrType" name="type" onchange="getIngrListFromServer()">
									<option value="none" hidden="">Выберите тип</option>
									<option th:each="type : ${ingrTypes}"> <b th:text=${type}> - </b> </option>
								</select>
								<b>Ингридиенты:</b><br>
								<div id="ingrList">
									<select id="ingrName">
										<option value="none" hidden="">Выберите игредиент</option>
										<option th:each="ingredientVolume : ${ingredientsVolumes}"> <p th:text=${ingredientVolume.name}> - </p> </option>
									</select>
								</div><br>
								<a href="javascript:addExistingIngrToRecipe()">Добавить</a>
								/
								<a href="javascript:hideAddIngredientWindow()">Отмена</a>	
							</form>				
						</div>
						<div class="col-md-9">
							<form>
								<b>Добавить новый ингридиент</b><br>
								<b>Имя:</b><br>
								<input type= "text" id="newIngrName" name= "name" placeholder= "Имя"><br>
								<b>Тип:</b><br>
								<input type= "text" id="newIngrType" name= "type" placeholder= "Тип"><br>	
								<b>Белки:</b><br>
								<input type= "text" id="newIngrProt" name= "prot" placeholder= "Белки / 100гр"><br>
								<b>Жиры:</b><br>
								<input type= "text" id="newIngrFat" name= "fat" placeholder= "Жиры / 100 гр"><br>
								<b>Углеводы:</b><br>
								<input type= "text" id="newIngrCarbo" name= "carbo" placeholder= "Углеводы / 100 гр"><br>
								<b>Описание:<b></br>
								<textarea id= "newIngrDesription" name= "descr" cols=20 rows=7> - </textarea><br>
								<a href="javascript:addNewIngredienttoRecipe()">Сохранить новый и добавить его к рецепту</a>
								/
								<a href="javascript:hideAddIngredientWindow()">Отмена</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pop up window for adding new photo -->
		<div class="popup" id="add_photo_popup">
			<div class="popup-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">
							<form action="" method="get" enctype="multipart/form-data">
								<input type="file" class= "btn btn-primary" id="photoLoader" value="Загрузить фото" onchange="getCurrentlyUploadedPhoto()">
								<input type="button" class= "dws-btn" value="Добавить фото" onclick="addPhotoToPhotoList(event);"> 
								<a href="javascript:hidePhotoUploadWindow()"> Отмена </a>
							</form>
						</div>
						<div class="col-md-9">
							<img th:src="@{/img/food_template.jpg}" src="../static/img/food_template.jpg" id="uploadedPhoto" width="100%">
						</div>
					</div>
				</div>	
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script th:src="@{/js/popupWindowClasses.js}"	src="../static/js/popupWindowClasses.js"></script>
		<script th:src="@{/js/recipe.js}"       		src="../static/js/recipe.js" ></script>
		<script th:src="@{/js/ingredient.js}"   		src="../static/js/ingredient.js"></script>	
		<script th:src="@{/js/ingredientVolume.js}"   	src="../static/js/ingredientVolume.js"></script>			
			
	</body>
	
</html>
