<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/styles/style.css}"  href="/../static/styles/style.css" type="text/css">
		<title>Рецепт</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
		<style type="text/css">
			.navbar-default {
				background-color: rgb(128, 128, 0, 0.7);
				border-color: black;
			}
			.navbar-default .navbar-brand {
				color: black;
			}
			.navbar-default .navbar-nav > li > a {
				color: black;
			}
			.navbar-default .navbar-toggle {
				border-color: black;
			}
			.navbar-default .navbar-toggle .icon-bar {
				background-color: black;
			}
			
			.cookBookContainer{
				background-color: rgba(134, 134, 11, 0.7);
				margin: 10px auto 0 auto;
				text-align: left;
				border-radius: 0 0 30px 30px;
				color: b;
			}
			
			.card{
				background-color: rgba(134, 134, 11, 0.3);
			}
		</style>
	</head>

	<body>
		<div class = "container-fluid">
			<div class="row">
				<div class="col">
					<nav style="background-color: rgb(128, 128, 0, 0.7)" class="navbar navbar-expand-lg navbar-default navbar-fixed-top" > 
						<a class="navbar-brand" href="#">CookBook</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item ">
									<a class="nav-link" href="/user/cookbook">В книгу рецептов</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/personal">На свою страницу</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/addrecipe">Написать рецепт</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/ingredients">Ингридиенты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user/reviewbook">Книга отзывов</a>
								</li>
							</ul>
						</div>
						<div style="float: left">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/logout">Выход</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">					
					<h4>Основная информация</h4><br>
					<b class="label"> Название:</b> <b> <span th:text="${recipe.name}"> - </span> </b><br>
					<b class="label"> Категория:</b> <b><span th:text="${recipe.type}"> - </span></b><br>
					<b class="label"> Слоган:</b> <b><span th:text="${recipe.tagline}"> - </span></b><br>	
					<div th:if="@{editable}"><input type="button" class="dws-btn" value="Редактировать"></div>
				</div>
				<div class="col-md-9">
					<h4>Ингредиенты</h4><br>
					<table id="ingrTable">
						<tr>
							<td>Ингридиент</td>
							<td>Количество (гр/мл)</td>
						</tr>
						<tr th:each="ingredient : ${ingredients}">
							<th><span th:text="${ingredient.name}"></th>
							<th><span th:text="${ingredient.volume}"></th>
						</tr>	
					</table>
					<b class="label">Калорийность: </b><b> - </b> <br>
					<div th:if="@{editable}"><input type="button" class="dws-btn" value="Редактировать список ингредиентов"></div><br>
					<b class="label"> Процедура приготовления:</b><br>
					<b><span th:text="${recipe.text}"> - </span></b>
					<div th:if="@{editable}"><input type="button" class="dws-btn" value="Редактировать"></div>
				</div>	

				<!-- PHOTOS -->
				<div class="col-md-12">
					<div class="card" style="width: 25%;" th:each="photo : ${recipePhotos}">
						<div class="card-body">
							<img class="card-img-top" th:src="${photo.photoPath}"/>
						</div>
					</div>
				</div>	

			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	</body>
	
</html>