<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/styles/style.css}" href="../static/styles/style.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/table.css}" href="../static/styles/table.css" type="text/css">
		<link rel="stylesheet" th:href="@{/styles/popup.css}" href="../static/styles/popup.css" type="text/css">
		<title>Новый рецепт</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">		
		<link rel="stylesheet" th:href="@{/styles/bootstrap_elements.css}"  href="../static/styles/bootstrap_elements.css" type="text/css">
	</head>

	<body>
        <div class="container-fluid">
			<div class="row">
                <div class="col-md-2">                    
                    <h2>Функции: </h2>
                    <input type="button" value="На свою страницу пользователя" class="btn btn-secondary" onclick="javascript:document.location.href='/user/show'"><br>
                    <input type="button" value="Пользователи" class="btn btn-secondary" onclick="javascript:document.location.href='/admin/users'"><br>
                    <input type="button" value="Рецепты" class="btn btn-secondary" onclick="javascript:document.location.href='/admin/recipes'"><br>
                    <input type="button" value="Ингредиенты" class="btn btn-secondary" onclick="javascript:document.location.href='/admin/ingredients'"><br>
                    <input type="button" value="Сообщения" class="btn btn-secondary" onclick="javascript:document.location.href='/admin/reviews'"><br>
                    <input type="button" value="Отправить email" class="btn btn-secondary" onclick="javascript:document.location.href='/admin/sendmailwindow'"><br>
                </div>
                <div class="col-md-10">
                    <h2>Отправка email</h2>
                    <input type="email" id="emailTo" value="alex.ander.1991@mail.ru"><br>
                    <textarea id="message" style="width: 100%; " rows=10>Тестовое сообщение</textarea>
                    <input type="button" value="Отправить" class="btn btn-secondary" onclick="sendEmail()"><br>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script th:src="@{/js/adminpage.js}" src="../static/js/adminpage.js"></script>
    </body>
</html>