<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">	
		<title>Книга рецептов</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" th:href="@{/styles/style.css}"  href="/../static/styles/style.css" type="text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">			
		<link rel="stylesheet" th:href="@{/styles/bootstrap_elements.css}"  href="../static/styles/bootstrap_elements.css" type="text/css">
	</head>
	
	<body>
		<div class = "container-fluid">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top" > 
						<a class="navbar-brand" href="#">CookBook</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/user/show">Моя страница</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/cookbook/showCookbook">Книга рецептов</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/cookbook/showIngredients">Ингредиенты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/cookbook/showReviewbook">Обратная связь</a>
								</li>
							</ul>
						</div>
						<div style="float: left">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/logout">Выход</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<div class = "container-md">
			<div class="row">
				<div class="col-md-3 cookBookContainer">
					<img th:src="@{/img/} + ${avatarPath}" src="../static/img/autorisation_ico.png">
				</div>
					
				<div class="col-md-9 cookBookContainer">
					<a href="/user/editpage">Редактировать</a> <br>
					<b class = "label"> Имя: <span th:text="${user.getName()}"> - </span> </b> <br>
					<b class = "label"> Фамилия: <span th:text="${user.getSurname()}"> - </span> </b> <br>
					<b class = "label"> Я живу в: <span th:text="${user.getCity()}"> - </span> </b> <br>
					<b class = "label"> Темперамент: <span th:text="${user.getTemperament()}"> - </span> </b> <br>
					<b class = "label"> Телефон: <span th:text="${user.getPhone()}"> - </span> </b> <br>
					<b class = "label"> E-mail: <span th:text="${user.getEmail()}"> - </span> </b> <br>
					<input type = "button" class="dws-btn" value="Написать рецепт" onclick='location.href="/cookbook/addrecipe"'>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-3 cookBookContainer">
					<b class = "label"> Тип </b> </br>
					<select name="type">
						<option></option>
						<option>Горячие блюда</option>
						<option>Гарниры</option>
						<option>Закуски</option>
						<option>Салаты</option>
						<option>Десерты</option>
						<option>Напитки</option>
						<option>Fast food</option>
					</select>
				</div>
				<div class="col-md-3 cookBookContainer">
					<b class = "label"> Имя </b> </br>
					<input type = "text" name = "name">
				</div>
				<div class="col-md-3 cookBookContainer">
					<b class = "label"> Слоган </b> </br>
					<input type = "text" name = "tagline">
				</div>
				<div class="col-md-3 cookBookContainer">
					<input type="submit" class="dws-btn" value="Поиск">
				</div>
			</div>

			<div class="row">
				<div class="card" style="width: 25%;" th:each="recipe : ${recipes}">
					<div class="card-body">
						<form method="get" action="/recipe/show">
							<input type="hidden" name="recipeId" th:id="recipeId_+${recipe.id}" th:value="${recipe.id}">

							<div class="spinner-border" role="status" th:id="spinner_+${recipe.id}">
								<span class="sr-only">Loading...</span>
							</div>
							<img class="d-block w-100" th:id="img_+${recipe.id}">

							<b class="label"><span th:text="${recipe.name}"> Название </span></b><br>
							<p><span th:text="${recipe.type}"> Категория </span></p><br>
							<p><span th:text="${recipe.tagline}"> Слоган </span></p><br>
							<button class = "dws-btn" type="submit">Подробнее</button><br>
						</form> 
					</div>
				</div>
			</div>
		</div>
				
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

		<script th:src="@{/js/loadpreviews.js}"	src="../static/js/loadpreviews.js"></script>
	</body>
</html>
