.photo_conteiner{
	/*position: absolute;
	left: 0;
	bottom: 0;*/
	width: 100%;
	height: auto;	
}

.main_info_conteiner, .text_container {     
    height: auto;
    background-color: rgb(128, 128, 0, 0.7);
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 30px 30px;
    border-width: 10 px;
    margin: 10px auto 10px auto;
}

.main_info_conteiner{
	text-align: left;
	width: auto;
    text-align: center;    
}

.text_container{
	width: auto;
    text-align: center;
    
}

h4{
	color: black;
	font-size: 18px;
}

table{
	width: 100%;
	height: auto;
	border-spacing: 2px;	
}

td, th {
	background: rgb(128, 128, 0, 0.7);
    padding: 7px;
    font-size: 16px;
}
