.main_info_conteiner, .text_container { 
    width: 350px;
    height: auto;
    background-color: rgb(128, 128, 0, 0.7);
    padding: 10px 10px 10px 10px;
    text-align: left;
    border-radius: 0 0 30px 30px;
    border-width: 10 px;
    margin: 10px auto 10px auto;
}

.main_info_conteiner{
    text-align: center;
}

.text_container{
    text-align: left;
    float: left;
}

select{
	width: 300px;
	height: 30px;
	font-size: 18px;
	margin-bottom: 5px;
	border-radius: 5px;
}