body {
	background: url(../img/main2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
	font-size: 20px;
	color: black;
}
a:hover{
	color: white;
	text-decoration: none;
}

b{
	font-size: 16px;
	color: black;
}

input[type="text"], input[type="password"]{
	width: 100%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 5px;
	border-radius: 5px;
}

select{
	width: 100%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 5px;
	border-radius: 5px;
}

textarea{
	font-family: tahoma;
	font-size: 16px;
}

.cookBookContainer{
	width: 450px;
	height: auto;
	background-color: rgb(128, 128, 0, 0.7);
	margin: 120px auto 0 auto;
	text-align: center;
	border-radius: 0 0 30px 30px;
}

.cookBookContainer img{
	width: 200px;
	height: 200px;
	margin: 10px 0 30px 0;
	border: 5px solid #6B8E23;
	border-radius: 50%;
}

.recipecontainer{
	width: 500px;
	height: 250px;
	background-color: rgb(128, 128, 0, 0.7);
	margin: 10px auto 0 auto;
	text-align: center;
	border-radius: 0 0 30px 0px;
}

.dws-btn{
	width: 100%;
	padding: 10px 30px;
	margin: 5px 0 20px 0;
	font-family: Calibri;
	font-size: 24px;
	font-style: italic;
	color: #fff;
	background-color: #008080;
	border: none;
	border-bottom: 4px solid #20B2AA;
	cursor: pointer;
}

.dws-btn:hover{
	transition: all 0.7s;
	background: #fff;
	color: #2c536C;
}

.label{
	font-family: Calibri;
	font-size: 16px;
	font-style: italic;
	color: #fff;
}