body {
	background: url(../img/main.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
	font-size: 20px;
	color: black;
}
a:hover{
	color: white;
	text-decoration: none;
}

b{
	font-size: 16px;
	color: black;
}

input[type="text"], input[type="password"]{
	width: 100%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 5px;
	border-radius: 5px;
}

select{
	width: 100%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 5px;
	border-radius: 5px;
}

textarea{
	font-family: tahoma;
	font-size: 16px;
}

.cookBookContainer{
	width: 450px;
	height: auto;
	background-color: rgba(243, 115, 11, 0.7);
	margin: 120px auto 0 auto;
	text-align: center;
	border-radius: 0 0 30px 30px;
}

.cookBookContainer img{
	width: 100%;
	height: 100%;
	margin: 10px 10 10px 10px;
	border: 5px solid #6B8E23;
	border-radius: 50%;
}

.recipecontainer{
	width: 500px;
	height: 250px;
	background-color: rgba(128, 128, 0, 0.7);
	margin: 10px auto 0 auto;
	text-align: center;
	border-radius: 0 0 30px 0px;
}

.dws-btn{
	width: 100%;
	padding: 10px 30px;
	margin: 5px 0 20px 0;
	font-family: Calibri;
	font-size: 24px;
	font-style: italic;
	color: black;
	background-color: rgb(250, 246, 2); 
	border: none;
	border-bottom: 4px solid  #B9B29F;
	cursor: pointer;
}

.dws-btn:hover{
	transition: all 0.7s;
	background:  rgba(235, 95, 14, 0.9);
	color: #E8E6D1;
}

.label{
	font-family: Calibri;
	font-size: 16px;
	font-style: italic;
	color: rgb(107, 45, 4);
}